@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



header {
    
    display: flex;
    justify-content: center;
    background-color: white;
    color:  #68779E;
    padding: 1rem;
    font-family: "Montserrat";
    font-weight: 500;
    
}

header > div{

    width: 100%;
    display: flex;
    justify-content: flex-start;
    
    
}
.logo{
  
    display:flex;
    justify-content:flex-start;
    padding-left: 13rem;
    

}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 4.5rem;
    padding-top: 0.4em;

   
}

.menu li {
    margin: 0 13px;
    
}

.menu a {
    color: #68779E;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu a:hover {
    color: #ffa500;
}

.descricao {
   
    
    width: 100%;
    
}

.texto{

    display: flex;
    justify-content: center;
    background-color:#ffffff;
    color: #35394A;
    background-image: url(../img/Montagem_Ilustracao_Prefeitura-de-Marica-1.png);
    font-weight: 500;
    padding-left: 2em;
    padding-top:3em ;
    padding-bottom: 3em;
    padding-right: 3em;
    width: 100%;
    text-align: left;
}

#textoUm{
    font-family: 'Montserrat';
    font-size: 30px;
    
}

#textoDois{

    font-family: 'Montserrat';
    font-size: 30px;
    
}
#cadastreSe{
    display: flex;
    justify-content: center;
    background-color: #EEE3FF;
    padding-top:1em;
    font-size: 3rem;    
    font-family: "Montserrat";
    color:#35394A;
    background-image: url;

}

.formulario{
    display:flex;
    justify-content: center;
    background-color: #EEE3FF;
    padding-top: 2rem;
    padding-bottom: 3rem;
    }
form {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: 14px;
    color: rgb(49, 49, 49);
    font-family: "Epilogue";
}

input {
    margin-top: 0;
    height: 30px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

form [type="submit"]{
    display: flex;
    justify-content: center;
    margin-left: 8em;
    background-color: #7dc9e2;
    color: rgb(49, 49, 49);
    font-weight: bold;
    border-radius: 15px;
    margin-top: 20px;
    height: 35px;
    width: 70px;
    border: 0;
    

}

form [type="submit"]:hover{
    cursor: pointer;
}

input:focus{
    border-color: #7dc9e2;
    outline: none;
}

#empresas {
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
    font-size:2.5rem;
    padding-top: 1em;
    color:#35394A
    ;
}
#imagensEmpresas{

    display:grid;
    grid-template-columns: 25% 25% 25%;
    justify-items: center;
    justify-content: space-around;
    gap: 3px;
    padding-top: 5rem;
    padding-bottom: 6rem;
   
}

footer {
    background-color: #7dc9e2;
    color: rgb(49, 49, 49);
    text-align: center;
    padding: 1.2rem ;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: "Montserrat";
}
